{% extends './layout.html'%}

{% block title%}{{informacion.titulo}}{% endblock%}

{% block body %}
<div class="container mt-5 ">
    <h2 class="text-center mb-4 mt-5">Última Actividad por Máquina</h2>
    <table class="table table-bordered table-hover table-striped">
        <thead class="table-primary text-center">
            <tr>
                <th>Machine ID</th>
                <th>Fecha</th>
                <th>Presión hidráulica</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody class="text-center">
            {% for m in informacion.maquinas %}
            <tr>
                <td>{{ m.machine_id }}</td>
                <td>{{ m.date }}</td>
                <td>{{ m.hydraulic_pressure_bar }}</td>
                <td>
                    {% if m.estado == 'Crítico' %}
                        <a href="{{ url_for('get_maquina', id=m.id) }}" class="btn btn-danger btn-sm">Necesita mantenimiento</a>
                    {% else %}
                        <a href="{{ url_for('get_maquina', id=m.id) }}" class="btn btn-success btn-sm">Normal</a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
